@tailwind base;
@tailwind components;
@tailwind utilities;

.glass{
    background: #ffffffc9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 20px; */
    border:1px solid white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.glassType2{
  
  width: 100%;
  /* background-color: rgba(169, 169, 169, 0.42); */
  border-radius: 1rem;
  /* backdrop-filter:  blur(10px); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.spinner {
  position: relative;
  width: 11.4px;
  height: 11.4px;
  /* padding-block: 50px; */
  
}

/* Apply styles only if the viewport width is 600px or wider */
@media (max-width: 500px) {
  /* CSS rules go here */
  .spinner {
    width: 10px;
    height: 10px;
  }
 
  #logoHide{
    /* visibility: hidden; */
    display: none!important;
  }

}


.spinner::before,
.spinner::after {
  --radius: 250;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  animation: spinner-w7nm60 2s infinite linear;
  background: rgb(2 25 175);
  border-radius: 50%;
}

.spinner::before {
  --radius: -250;
  background: rgb(8 205 27 / 55%);
}

@keyframes spinner-w7nm60 {
  0% {
     transform: scale(1) rotate(0deg) translateY(calc(var(--radius) * 1%));
  }

  50% {
     transform: scale(0.5) rotate(1440deg) translateY(0);
  }

  100% {
     transform: scale(1) rotate(2920deg) translateY(calc(var(--radius) * 1%));
  }
}

.scrollRuk::-webkit-scrollbar {
  display: none;
}
.scrollRuk{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.spinner2 {
 
   width: 35px;
   height: 35px;
   --c: radial-gradient(farthest-side,#30e90b 92%,#0000);
   background: var(--c) 50% 0,
          var(--c) 50% 100%,
          var(--c) 100% 50%,
          var(--c) 0    50%;
   background-size: 10px 10px;
   background-repeat: no-repeat;
   animation: spinner-kh173p 10000s infinite;
}

@keyframes spinner-kh173p {
   to {
      transform: rotate(10000turn);
   }
}
